* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F7F5;
  font-family: "Creato Display", sans-serif;
  font-weight: 400;
}

body p {
  margin: 0;
}

body h1 {
  font-size: 1rem;
}

h2 {
  color: #727272;
  font-size: 1.25em;
}

#contact {
  margin: 5% 0;
}

#contact .inputForm, #contact .textForm {
  border: 1px solid #727272;
  border-radius: 10px;
  height: 5%;
  background-color: #F8F7F5;
  margin-bottom: 4%;
  font-size: 0.625em;
  padding: 5px 5px 5px 10px;
}

#contact .labelForm {
  font-size: 0.625em;
  color: #727272;
  margin-bottom: 1%;
}

#contact .textForm {
  height: 20%;
}

#contact .botonSubmit {
  background-color: #5F4E4E;
  color: #F8F7F5;
  font-size: 0.625em;
}

.navbar-brand h1 {
  margin-bottom: 0;
  font-weight: 400;
  font-family: "Century Schoolbook", sans-serif;
  color: #5F4E4E;
}

#header nav .navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header nav button {
  border-style: none;
}

#header #hero {
  margin-top: 1.875em;
  padding-top: 2rem;
}

#about {
  margin: 4.4%;
}

#about h2 {
  color: #9B9393;
}

#about span {
  font-style: italic;
  font-weight: bold;
}

#about img {
  border-radius: 2px;
  width: 34vw;
  height: calc(34vw*1.33);
  margin-left: 4%;
}

#about p {
  font-size: 0.625em;
  color: black;
}

#products {
  background-color: #9B9393;
  padding: 5.4% 4%;
}

#products a {
  text-decoration: none;
}

#products h2 {
  color: #F8F7F5;
}

#products .card {
  background-color: transparent;
  border-style: none;
  color: #F8F7F5;
  text-align: center;
}

#products .card .card-title {
  text-transform: capitalize;
  font-size: 0.75em;
  margin-bottom: 0;
  width: auto;
}

#products .card img {
  border-radius: 2px;
}

#products .card .btnVerMas {
  background-color: transparent;
  color: #F8F7F5;
  border: 1px solid #F8F7F5;
  border-radius: 5px;
  font-size: 0.5em;
}

#products .card .btnVerMas p {
  margin-bottom: 0;
}

#footer {
  background-color: #9B9393;
}

#footer img {
  width: 15.64vw;
  height: calc(15.64vw*0.75);
  margin-top: 3.59vw;
  margin-bottom: 1.79vw;
}

#footer p {
  color: #F8F7F5;
  font-size: 0.625em;
  margin-bottom: 5.64vw;
  font-family: 'Chathura', sans-serif;
}

#footer p a {
  color: #F8F7F5;
  text-decoration: none;
}

@media screen and (max-width: 1439px) {
  body {
    font-size: 16px;
  }
  .offcanvas-start {
    width: 75vw;
  }
  .navbar-brand {
    font-size: 16px;
  }
  .navbar-brand h1 {
    font-size: 1.875em;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 40px;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar-brand {
    font-size: 40px;
  }
  .navbar .navbar-brand h1 {
    font-size: 1.1em;
  }
  #about img {
    width: 391px;
    height: 514px;
  }
}
/*# sourceMappingURL=styles.css.map */