$font-body: 'Creato Display',
sans-serif;
$font-logo: 'Century Schoolbook',
sans-serif;
$font-footer:'Chathura',
sans-serif;

$c1:#F8F7F5;
$c2:#D7D2D2;
$c3:#9B9393;
$c4:#5F4E4E;
$c5:#727272;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

body {
    
    background-color: $c1;
    font-family: $font-body;
    font-weight: 400;

    p {
        margin: 0;
    }
    h1{
        font-size: 1rem;
    }
}

h2 {
    color: $c5;
    font-size: 1.25em;
}


#contact {
    margin: 5% 0;
    .inputForm {
        border: 1px solid $c5;
        border-radius: 10px;
        height: 5%;
        background-color: $c1;
        margin-bottom: 4%;
        font-size: 0.625em;
        padding: 5px 5px 5px 10px;
    }

    .labelForm {
        font-size: 0.625em;
        color: $c5;
        margin-bottom: 1%;
    }

    .textForm {
        @extend .inputForm;
        height: 20%;
    }

    .botonSubmit {
        background-color: $c4;
        color: $c1;
        font-size: 0.625em;
        // width: 109px;
        // height: 45px;
    }

}
.navbar-brand {
    h1 {
        margin-bottom: 0;
        font-weight: 400;
        font-family: $font-logo;
        color: $c4
    }
}

#header {
    nav {
        .navbar {
            .navbar-toggler {
                &:focus {
                    box-shadow: none;
                }
            }
        }

        button {
            border-style: none;
        }
    }

    #hero {
        //agregado margin y padding top de misma altura que nav para suplir el fixed-top
        //el margin representa el tamaño de la letra que es variable
        margin-top: 1.875em;
        //el padding representa el tamaño fijo total de padding vertical que agrega bootstrap
        padding-top: 2rem;
    }
}


#about {
    margin: 4.4%;

    h2 {
        color: $c3;
    }

    span {
        font-style: italic;
        font-weight: bold;
    }

    img {
        border-radius: 2px;
        width: 34vw;
        height: calc(34vw*1.33);
        margin-left: 4%;
    }

    p {
        font-size: 0.625em;
        color: black;
    }
}

#products {
    background-color: $c3;
    padding: 5.4% 4%;

    a {
        text-decoration: none;
    }

    h2 {
        color: $c1;
    }

    .card {
        background-color: transparent;
        border-style: none;
        color: $c1;
        text-align: center;

        .card-title {
            text-transform: capitalize;
            font-size: 0.75em;
            margin-bottom: 0;
            width: auto;
        }

        img {
            border-radius: 2px;
        }

        .btnVerMas {
            background-color: transparent;
            color: $c1;
            border: 1px solid $c1;
            border-radius: 5px;
            font-size: 0.5em;

            p {
                margin-bottom: 0;
            }
        }
    }
}

#footer {
    background-color: $c3;

    img {
        width: 15.64vw;
        height: calc(15.64vw*0.75);
        margin-top: 3.59vw;
        margin-bottom: 1.79vw;
    }

    p {
        color: $c1;
        font-size: 0.625em;
        margin-bottom: 5.64vw;
        font-family: 'Chathura', sans-serif;

        a {
            color: $c1;
            text-decoration: none;
        }
    }
}

@media screen and (max-width:1439px) {
    body {
        font-size: 16px;
    }

    .offcanvas-start{
        width:75vw;
    }

    .navbar-brand {
        font-size: 16px;
        h1 {
            font-size: 1.875em;
        }
    }
}


@media screen and (min-width:1440px) {
    body {
        font-size: 40px;
    }

    .navbar {
        flex-direction: column;
        .navbar-brand {
            font-size: 40px;
            h1 {
                font-size: 1.1em;
            }
        }
    }

    #about {

        img {
            width: 391px;
            height: 514px;
        }
    }

}