h2 {
    font-size: 20px;
}

.botonSubmit {
    background-color: #5F4E4E;
    color: white;
}

.inputForm {
    border: 1px solid #727272;
    border-radius: 10px;
    height: 24px;
}

.labelForm {
    font-size: 10px;
    color: #727272;
}

.textForm {
    @extend .inputForm;
    height: 66px;
}

.tituloContacto {
    color: #727272;
}